DATABASE_URL=postgres://postgres:postgres@localhost:5432/validador_questoes
PORT=3000
MINIO_ENDPOINT=https://minio.andersonlbsoares.com.br
MINIO_PUBLIC_BASE_URL=https://minio.andersonlbsoares.com.br
MINIO_BUCKET=enem-questoes
MINIO_ACCESS_KEY=SEU_ACCESS_KEY
MINIO_SECRET_KEY=SEU_SECRET_KEY
JWT_SECRET=SUA_CHAVE_JWT_FORTE_AQUI
JWT_EXPIRES_IN=12h
